/* GENERELLE INSTILLINGER */

img {
    width: 100%;
}

body {
    background-color: #FFFFE8;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: Helvetica;

}

header h2 {
    text-align: center;
    font-size: 1em;
    font-family: Helvetica;
    font-weight: lighter;

}

/* FORSIDE */

#forside .sectionwrapper {

    display: flex;
    flex-wrap: wrap;
}

#forside .column {
    background-color: #8F3C0C;
    flex-basis: 400px;
    flex-grow: 1;
    margin: 1em;
    padding: 1em;

}

#forside .img {
    display: flex;
    flex-wrap: wrap;
}


/* FORSIDE FONT */

#forside h3 {
    font-size: 1.5em;
    font-family: Helvetica;
    text-align: center;
}

#forside p {
    font-size: 1.1em;
    font-family: Helvetica;

}

/* FORSIDE VIDEO */

.video iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;

}


/*nav*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    background-color: aqua;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*nav slut*/
